html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("https://i.postimg.cc/TPgsyRVW/the-sky.png");
  background-color: lightblue;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: overlay;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #ffffff;
  }
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px none #ffffff;
  }

body {
  margin: 0;
  padding: 30px;
  padding-top: 70px;
  color: black;
}


input[type=text] {
  transition: 0.4s ease-in-out;
  width: 15%;
  border: 2px solid black;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 8px 0;
  text-align: center;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 2px solid red;
}

input[type=number] {
  transition: 0.4s ease-in-out;
  width: 15%;
  border: 2px solid black;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 8px 0;
  text-align: center;
  box-sizing: border-box;
}

input[type=number]:focus {
  border: 2px solid red;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  transition: 0.2s ease-in-out;
  color: white;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1)
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #00CED1;
}

.child {
  display: inline-block;
  padding: 10px;
  width: 400px;
  min-height: 100px;
  overflow: hidden;
  box-sizing: border-box;
}

#image {
  border: 5px solid black;
  border-radius: 25px;
  pointer-events: none;
  width: 275px;
  height: 275x;
}

.tables {
  margin: auto;
  width: 80%;
}

.transparent {
  background-color: rgba(255,255,255,0.8);
  padding: 15px;
  border-radius: 25px;
}

.border {
  border-bottom: 2px solid black;
}