<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Crypto Converter | About Us</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/assets/crypto.png">
    
  </head>
  <body>
    <center>
      <h1>About Us</h1>
      <p>We are sophomores from Cinco Ranch High School in Katy. We made this web app for Technical Student Association (TSA). We both like trading stocks, so we thought this website was the perfect idea!</p>
      <div class="tables">
        <div class="child transparent">
          <h3>Jacob White</h3>
          <p>Jacob White lives in Katy, Texas, with his parents and older sister Emily.<br>In his free time, he likes to CAD and play video games.</p>
      <img id="image" src="https://i.postimg.cc/P529S1Yv/jacob.png">
        </div>
        <div class="child transparent">
          <h3>Rohan Pandit</h3>
          <p>Rohan Pandit lives in Katy, Texas.<br>He has an older sister who just graduated from UT Dallas.<br>In his free time, he likes to code and swim.</p>
      <img id="image" src="https://i.postimg.cc/rwSMmJnr/rohan2.jpg">
        </div>
      </div>
      <br>
      <button onclick="window.location.href='/';">Go Back</button>
    </center>
  </body>
  <script defer src='static/js/snow.js'></script>
</html>