<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/assets/crypto.png">
    
  </head>
  <body>
    <center>
      <h1>About Us</h1>
      <p>We are highschoolers from Cinco Ranch High School in Katy. We made this website for a club called Technical Student Association (TSA).</p>
      <p></p>
      <div class="tables">
        <div class="child">
          <h3>Jacob White</h3>
          <p>I like to do CAD</p>
      <img id="image" src="https://i.postimg.cc/P529S1Yv/jacob.png">
        </div>
        <div class="child">
          <h3>Rohan Pandit</h3>
          <p>I like to do computer science</p>
      <img id="image" src="https://i.postimg.cc/PxV6hg1Q/rohan.jpg">
        </div>
      </div>
      <button onclick="window.location.href='/';">Go Back</button>
    </center>
  </body>
</html>